*.elc
*~

/auto-save-list
/tutorial
/.org-id-locations
/.emacs.desktop*
/.mc-lists.el
/anything-c-adaptive-history
/ac-comphist.dat
/tramp
/server
/url
/semanticdb/
/elpa/archives/
/bookmarks
/undo-tree-hist

GPATH
GRTAGS
GTAGS