*.elc
*~

/auto-save-list
/tutorial
/.org-id-locations
/.emacs.desktop*
/.mc-lists.el
/kill-ring-saved.el
/ac-comphist.dat
/tramp
/server
/url
/semanticdb/
/elpa/archives/
/bookmarks
/undo-tree-hist
/backup/
/places
/recentf
/irony
/transient
/lookup
/quelpa
/emojis
/request
/.org-todoist/
/undohist/
/.lsp-session-v1

GPATH
GRTAGS
GTAGS