[submodule "elisp/rspec-mode"]
	path = elisp/rspec-mode
	url = https://github.com/byplayer/rspec-mode.git
[submodule "elisp/anything-etags"]
	path = elisp/anything-etags
	url = https://github.com/byplayer/anything-etags.git
[submodule "elisp/egg"]
	path = elisp/egg
	url = https://github.com/byplayer/egg.git
[submodule "elisp/cucumber.el"]
	path = elisp/cucumber.el
	url = https://github.com/byplayer/cucumber.el.git
