[submodule "elisp/anything-etags"]
	path = elisp/anything-etags
	url = https://github.com/byplayer/anything-etags.git
[submodule "elisp/gist.el"]
	path = elisp/gist.el
	url = https://github.com/byplayer/gist.el.git
[submodule "elisp/nsis-mode"]
	path = elisp/nsis-mode
	url = https://github.com/byplayer/nsis-mode.git
[submodule "snippets/rabbit-mode"]
	path = snippets/rabbit-mode
	url = https://github.com/byplayer/yasnippet-rabbit-mode.git
[submodule "snippets/sh-mode"]
	path = snippets/sh-mode
	url = https://github.com/byplayer/yasnippet-sh-mode.git
[submodule "snippets/ruby-mode"]
	path = snippets/ruby-mode
	url = https://github.com/byplayer/yasnippet-ruby-mode-1.git
[submodule "elisp/emacs-helm-godoc"]
	path = elisp/emacs-helm-godoc
	url = https://github.com/syohex/emacs-helm-godoc.git
